/*
	Author: Melanie Gardiner
	Created on: Aug 27, 2012
	Revised on: Sep 29, 2012
	CSS Version: 2.1
	
	Purpose: Stylise list.php
	
	Related Files:

	
	
		.article {
			float: left;
			margin: 20px 20px 0 0;
			width: 140px;
		}
		
		#catalogue p {
			font-size: 70%;
			padding-bottom: 5px;
		}
		
	*/	