/*
	Author:	Melanie Gardiner
	Created on:	2012-03-04
	Revised on:	2012-10/1
	CSS Version: 2.1
	
	Purpose: To stylize portfolio website
	
	Related Files:
	index.html
	jquery.lightbox-0.5.js
	jquery.js
	contact.js
*/

/* Clear default styling from block level elements */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form,
fieldset, blockquote {
	margin: 0;
	padding: 0;
	border: 0;
}

/*assign font to website*/
#page_wrap {
	font-family: Helvetica,Arial,'DejaVu Sans','Liberation Sans',Freesans,sans-serif;
}

/*center container within page wrap*/
#container {
	width: 960px;
	margin: 0 auto;
}	

/*HEADER*/	
/*fill header bar with colour; all children float so give height; colour fills padding; space on bottom to push h2 down*/
#header {
	height: 125px;
	background: #000;
	padding: 40px 40px 20px 80px;
	margin-bottom: 40px;
	}

	/*float h1; swap out h1 with logo image; push h1 text off the page; space within header bar*/
	#header h1 {
		float: left;
		background: url("../images/logo.png") no-repeat;
		width: 433px;
		height: 124px;
		font-size: 200%;
		text-indent: -9999px;
	}
	
		/*align navbar ul; move to right side; push down from top; e*/
		#header #navbar ul {
			margin-left: 630px;
			margin-top: 40px;
			color: #FFF;
		}
			
			/*put ul li items side by side; space in between; change font size; remove bullet*/
			#header #navbar ul li {
				float: left;
				list-style: none;
				margin-left: 18px;
				font-size: 90%;
			}
				/*style link/visited*/
				#header #navbar ul li a:link, #header #navbar ul li a:visited {
					text-decoration: none;
					color: white;
				}	
				
				/*colour hover/focus*/
				#header #navbar ul li a:hover, #header #navbar ul li a:focus {
					color: #A2A2A2;
				}
								
	/*MAIN*/
	/*center main on page; add left/right spacing */
	#main {
		padding: 0 10px 10px 10px;
		margin: 0 auto;
	}
	
		/*style h2; put space on bottom*/
		#main h2 {
			font-size: 150%;
			padding-bottom: 15px;
		}
			/*custom colour for a portion of the h2 by using a span*/
			#main h2 span {
				color: #A2A2A2;
			}
			
		/*portfolio images are list items; change inline to block so that they can float and have padding/height/width*/
		#main ul li {
			display: block;
			float: left;
			padding: 10px 10px 10px 0;
			width: 300px;
			height: 180px;
		}
	
		/*p is a block element; clear left; add padding; assign width*/
		#main p {
			clear: left;
			padding-bottom: 15px;
			width: 670px;
			font-size: 120%;
		}
			
		.article {
			float: left;
			margin: 0 20px 10px 0;
			width: 140px;
		}
		
		#catalogue p {
			font-size: 70%;
		}
		
	/*FORM*/
	label {
		width: 100px;
		font-size: 70%;
	}
	
	legend {
		font-size: 100%;
		padding: 20px 0;
		font-weight: bold;
	}
	
	#main fieldset textarea {
	width: 300px;
	resize: none;
	}
	
		
	/*class used for colouring the text field elements after checks are made for any user-entered content, or RegEx content*/
	#main .error {
			border-color: #F00;
			background-color: #A9DBF6;
			color: #F00;
	}	
	
	#main .sm {
		color: #CB4F29;
		font-size: 90%;
	}	
	
	/*FOOTER*/
	/*clear left after floated neighbour; assign width/height; add spacing; rule line*/
	#footer {
		clear: left;
		width: 920px;
		height: 40px;
		margin-left: 10px;
		border-top: 1px solid #000;
		padding: 20px 0;
	}
	
		/*put copywright on left by floating(div is a block element); assign width to wrap text; adjust font size; assign colour*/
		#footer #copyright {
			float: left;
			width: 660px;
			font-size: 75%;
			color: #A2A2A2;
		}
		
		/*clear right after floating neighbour; add margin to push all the way to the right; remove bullets*/
		#footer #social ul {
			clear: right;
			margin-left: 790px;
			list-style: none;
		}
		
		#footer #social li {
			float: left;
			display: block;
			margin-left: 10px;
		}
		
	
	
	/*remove stroke for other browser*/
		
	.image {
		 margin: 0 auto;
	}
			